.dashboard-wrapper {
  background-color: #d1cdc7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.user-welcome-wrapper {
  align-self: center;
}

.header-user-text {
  font-size: 20px;
  font-weight: bold;
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
  margin: 20px 0;
}

.right-buttons-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.left-buttons-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.user-text {
  font-size: 16px;
  font-weight: bold;
}

.detail-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}
.details-text {
  font-size: 18px;
  font-weight: 700;
}
